= render 'layouts/modal', { modal_id: "editSkillModal_#{@skill.id}", modal_title: "Edit Skill Experience [#{@skill.name}]" } do
  .modal-body
    = render 'employees/resource_skill_form', resource_skill: @skill.resource_skills.find_by(employee_id: @employee.id)