.employees
  .row
    - unless current_employee.developer?
      = render 'employees/filters'
      = render 'employees/employee_list'
    .col.mx-auto
      .section.last.profile
        = render 'skills'