.employees
  .row
    - unless current_employee.developer?
      .col-3
        = render 'employees/filters'
      .col-3
        = render 'employees/employee_list'
    .col-6.mx-auto
      .section.last.profile
        = render 'skills'