.employees
  .row
    - unless current_employee.developer_without_ap?
      = render 'employees/filters'
      = render 'employees/employee_list'
    %div{class: current_employee.developer? ? 'col-6 mx-auto' : 'col mx-auto'}
      .section.last.profile
        = render 'skills'