= form_for department do |f|
  .row
    .col
      .form-group
        = f.text_field :name, placeholder: 'department name', class: 'form-control'
  .row
    .col
      .form-group
        = f.select :team_lead_id, team_leads_for_select, { prompt: 'Team Leader' }, class: 'custom-select'
  .row
    .col
      .form-group
        = f.submit class: 'btn btn-success'