.employees {
  padding-top: 25px;

  .section {
    position: relative;
    border-right: 1px solid $dark-grey;
    height: calc(90vh - 50px);
    overflow: auto;

    &.last {
      border-right: none;
      padding-right: 50px;
    }

    &.list {
      ul {
        list-style: none;

        li {
          &:before {
            content: '| ';
          }
        }
      }
    }
  }

  .skill {
    display: inline-block;
    border-radius: 30%;
    padding: 10px 15px;
    border: 1px solid $grey;
    @include transition(0.2s, ease-in-out);

    &:hover {
      opacity: 1;
      @include transition(0.2s, ease-in-out);
    }
  }

  .free {
    @extend .text-success
  }

  .partially_busy {
    @extend .text-warning
  }

  .busy {
    @extend .text-danger
  }

  .with-remove {
    line-height: 30px;
  }
}
