.employees {
  padding-top: 25px;

  .section {
    position: relative;
    border-right: 1px solid $dark-grey;
    height: calc(90vh - 50px);

    ul {
      height: calc(100% - 42px);
      overflow: auto;
    }

    &.last {
      border-right: none;
      padding-right: 50px;
    }
  }
}
