.archive.center-horizontal
  .container
    .title
      %h2 Employees archive
    .content
      - @employees.each do |employee|
        .row
          .col-11
            = employee.name
            %br
            = employee.email
            %br
            = employee.phone
          .col-1
            = link_to 'Restore', archive_path(employee), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-success'
        - unless employee.eql? @employees[-1]
          %hr